.container {
    position: relative;
    text-align: center;
    color: red;
           }
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}


 .buttoon {
    background-color: #4CAF50; 
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    border-radius: 40%;
}




